/*******************************************/
/*  ariato css                             */
/*  https://github.com/BaseSecrete/ariato  */
/*******************************************/

:root {
  --color-blue-100: 219,225,241;
  --color-blue-200: 176,189,225;
  --color-blue-300: 115,144,203;
  --color-blue-400: 67,116,188;
  --color-blue-500: 0,97,178;
  --color-blue-600: 2,82,161;
  --color-blue-700: 3,65,142;
  --color-red-20: 253,249,248;
  --color-red-200: 226,176,169;
  --color-red-500: 166,61,54;
  --color-red-600: 146,47,44;
  --color-grey-00: 255,255,255;
  --color-grey-20: 249,250,250;
  --color-grey-35: 246,246,247;
  --color-grey-50: 240,241,243;
  --color-grey-100: 223,224,228;
  --color-grey-200: 185,188,195;
  --color-grey-300: 139,145,156;
  --color-grey-400: 108,116,130;
  --color-grey-500: 88,96,112;
  --color-grey-600: 71,78,94;
  --color-grey-700: 55,61,76;
  --color-black: 0,0.6353307795189879,20.78828237830061;
  --color-bg: var(--color-grey-20);
  --color-body: var(--color-grey-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-blue-100: 33,51,75;
    --color-blue-200: 47,76,113;
    --color-blue-300: 65,108,161;
    --color-blue-400: 80,138,205;
    --color-blue-500: 92,160,238;
    --color-blue-600: 133,178,242;
    --color-blue-700: 166,196,245;
    --color-red-20: 47,27,24;
    --color-red-200: 110,62,55;
    --color-red-500: 231,127,115;
    --color-red-600: 239,153,141;
    --color-grey-00: 19,28,41;
    --color-grey-20: 24,32,45;
    --color-grey-35: 27,36,49;
    --color-grey-50: 30,39,53;
    --color-grey-100: 42,51,65;
    --color-grey-200: 67,75,90;
    --color-grey-300: 98,107,123;
    --color-grey-400: 127,135,152;
    --color-grey-500: 148,157,174;
    --color-grey-600: 169,176,190;
    --color-grey-700: 190,195,206;
    --color-grey-800: 211,215,222;
    --color-grey-900: 233,235,238;
    --color-black: 0,0,0;
    --color-bg: var(--color-grey-20);
    --color-body: var(--color-grey-500);
  }
}

body {
  background: rgba(var(--color-bg), 1);
  color: rgba(var(--color-body), 1);
}

:focus {
  outline: 2px solid rgba(var(--color-blue-200), 1);
}

/* design_tokens/font.css */
:root {
  --font-sans:  system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; 
  --base-font-size: var(--space-2x);
  --font-weight-400: 400;
  --font-weight-700: 700;
  --ratio: 1.2;
  --font-size-30: calc(var(--base-font-size) / var(--ratio) / var(--ratio)); /* -2 */
  --font-size-40: calc(var(--base-font-size) / var(--ratio)); /* -1 */
  --font-size-50: var(--base-font-size);
  --font-size-60: calc(var(--base-font-size) * var(--ratio)); /* +1 */
  --font-size-70: calc(var(--base-font-size) * var(--ratio) * var(--ratio)); /* +2 */
  --font-size-80: calc(var(--base-font-size) * var(--ratio) * var(--ratio) * var(--ratio)); /* +4 */
  --font-size-90: calc(var(--base-font-size) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)); /* +5 */
  --font-size-100: calc(var(--base-font-size) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)); /* +6 */
  --font-size-110: calc(var(--base-font-size) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)); /* +7 */
}

html,
body {
  font-size: var(--base-font-size);
}

body {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-400);
  line-height: var(--space-3x);
}

/* design_tokens/shadow.css */
:root {
  --box-shadow-s: 
    0 1px 1px 0 rgba(var(--color-black), 0.05),
    0 1px 2px 0 rgba(var(--color-black), 0.05);
  --box-shadow-l: 
    0 0px 2px 0 rgba(var(--color-black), 0.05),
    0 1px 2px 0 rgba(var(--color-black), 0.05),
    0 2px 4px -1px rgba(var(--color-black), 0.05),
    0 4px 8px -2px rgba(var(--color-black), 0.05),
    0 8px 16px -4px rgba(var(--color-black), 0.05),
    0 16px 32px -8px rgba(var(--color-black), 0.05);
  --box-inset-shadow-s: 0 1px 1px 0 rgba(var(--color-black), 0.05) inset;  
  --box-inset-shadow-m: 0 1px 1px 0px rgba(var(--color-black), 0.05) inset,
      0 2px 2px 1px rgba(var(--color-black), 0.05) inset;
  --text-shadow-s: 0 1px 1px rgba(var(--color-black), 0.05);
}

/* design_tokens/shape.css */
:root {
  --border-radius-s: calc(var(--space) * 0.25);
  --border-radius-m: var(--space-1-2);
}

/* design_tokens/space.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --space: 0.5rem;
  --space-1-4: calc(var(--space) / 4);
  --space-1-2: calc(var(--space) / 2);
  --space-2x: calc(var(--space) * 2);
  --space-3x: calc(var(--space) * 3);
  --space-4x: calc(var(--space) * 4);
  --space-5x: calc(var(--space) * 5);
  --space-6x: calc(var(--space) * 6);
  --space-7x: calc(var(--space) * 7);
}

/* elements */

/* text */
::-moz-selection {
  background: rgba(var(--color-blue-100), 1);
  text-shadow: none;
}

::selection {
  background: rgba(var(--color-blue-100), 1);
  text-shadow: none;
}

p {
  margin: 0;
  padding: calc(var(--space) - 2px) 0 calc(var(--space-2x) + 2px);
}

p.is-large {
  font-size: var(--font-size-70);
  line-height: var(--space-4x);
  padding: var(--space) 0 var(--space-2x);
}

p + :not(p) {
  margin-top: var(--space-3x);
}

h1,
.is-h1 {
  display: inline-block;
  margin: 0;
  padding: calc(var(--space-2x) + 2px) 0 calc(var(--space) - 2px);
  color: rgba(var(--color-grey-700), 1);
  font-size: var(--font-size-110);
  font-weight: 700;
  letter-spacing: -0.05rem;
  line-height: var(--space-7x);
  text-transform: none;
}

h2,
.is-h2 {
  margin: 0;
  padding: calc(var(--space) + 1px) 0 calc(var(--space-2x) - 1px);
  color: rgba(var(--color-grey-700), 1);
  font-size: var(--font-size-100);
  font-weight: 700;
  letter-spacing: -0.05rem;
  line-height: var(--space-6x);
  text-transform: none;
}

* + h2,
* + .is-h2  {
  margin-top: var(--space-3x);
}

h3,
.is-h3 {
  margin: 0;
  padding: calc(var(--space) - 3px) 0 calc(var(--space-2x) + 3px);
  color: rgba(var(--color-grey-700), 1);
  font-size: var(--font-size-60);
  font-weight: 700;
  letter-spacing: 0;
  line-height: var(--space-3x);
  text-transform: none; 
}

small {
  font-size: var(--font-size-30);
  font-weight: 400;
  text-transform: none;
  color: rgba(var(--color-grey-400), 1);
}

/**** BUTTONS *****/
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
[role="button"],
:any-link[role="button"]  {
  /* Display */
  display: inline-flex;
  width: auto;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  align-self: start;
  transition: 0.2s all ease-in-out;
  background-color: transparent;
  min-height: var(--space-5x);
  margin: 0;
  padding: var(--space) calc(var(--space) * 2);
  border: none;
  border-radius: var(--border-radius-s, 0);
  box-shadow: 0 0 0 1px rgba(var(--color-grey-200), 1) inset,
    var(--box-shadow-s);
  outline: 0;
  color: rgba(var(--color-grey-700), 1);
  font: inherit;
  font-family: inherit;
  font-size: var(--font-size-40);
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: var(--space-3x);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: var(--text-shadow-s);
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
[role="button"]:hover,
:any-link[role="button"]:hover,
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active,
[role="button"]:active,
:any-link[role="button"]:active {
  color: rgba(var(--color-grey-800), 1);
  box-shadow: 0 0 0 1px rgba(var(--color-grey-300), 1) inset, 
    var(--box-shadow-s);
}

button:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
[role="button"]:focus,
:any-link[role="button"]:focus {
  outline: 2px solid rgba(var(--color-blue-200), 1);
  border: 0;
  color: rgba(var(--color-grey-900), 1);
  z-index: 1;
}

button[aria-expanded="true"],
button[type="reset"][aria-expanded="true"],
input[type="submit"][aria-expanded="true"],
input[type="button"][aria-expanded="true"],
input[type="reset"][aria-expanded="true"],
[role="button"][aria-expanded="true"],
:any-link[role="button"][aria-expanded="true"] {
  background: rgba(var(--color-grey-100), 1);
  color: rgba(var(--color-grey-600), 1);
  box-shadow: 0 0 0 1px rgba(var(--color-grey-200), 1) inset,
    var(--box-inset-shadow-m);
}

button[type="reset"],
input[type="reset"],
button.is-reset,
input[type="submit"].is-reset,
input[type="button"].is-reset,
[role="button"].is-reset,
:any-link[role="button"].is-reset {
  color: rgba(var(--color-red-500), 1);
}

button[type="reset"]:hover,
input[type="reset"]:hover,  
button[type="reset"]:hover,
input[type="reset"]:hover,
button.is-reset:hover,
input[type="submit"].is-reset:hover,
input[type="button"].is-reset:hover,
[role="button"].is-reset:hover,
:any-link[role="button"].is-reset:hover,
button[type="reset"]:active,
input[type="reset"]:active,
button.is-reset:active,
input[type="submit"].is-reset:active,
input[type="button"].is-reset:active,
[role="button"].is-reset:active,
:any-link[role="button"].is-reset:active {
  background: rgba(var(--color-red-500), 1);
  color: rgba(var(--color-red-20), 1);
  box-shadow: 0 0 0 1px rgba(var(--color-red-600), 1) inset, 
    var(--box-shadow-s);
}

button[type="reset"]:focus,
input[type="reset"]:focus,
button.is-reset:focus,
input[type="submit"].is-reset:focus,
input[type="button"].is-reset:focus,
[role="button"].is-reset:focus,
:any-link[role="button"].is-reset:focus {
  background: rgba(var(--color-red-500), 1);
  color: rgba(var(--color-red-20), 1);
  outline: 2px solid rgba(var(--color-red-200), 1);
}

button.is-link,
button[type="reset"].is-link,
input[type="submit"].is-link,
input[type="button"].is-link,
input[type="reset"].is-link,
[role="button"].is-link,
:any-link[role="button"].is-link {
  background: transparent;
  color: rgba(var(--color-grey-500), 1);
  text-decoration: underline;
  border-color: transparent;
  box-shadow: none !important;
}

button.is-link:hover,
button[type="reset"].is-link:hover,
input[type="submit"].is-link:hover,
input[type="button"].is-link:hover,
input[type="reset"].is-link:hover,
[role="button"].is-link:hover,
:any-link[role="button"].is-link:hover,
button.is-link:active,
button[type="reset"].is-link:active,
input[type="submit"].is-link:active,
input[type="button"].is-link:active,
input[type="reset"].is-link:active,
[role="button"].is-link:active,
:any-link[role="button"].is-link:active {
  background: transparent;
  color: rgba(var(--color-grey-700), 1);
  box-shadow: none;
}
  
button.is-link:focus,
button[type="reset"].is-link:focus,
input[type="submit"].is-link:focus,
input[type="button"].is-link:focus,
input[type="reset"].is-link:focus,
[role="button"].is-link:focus,
:any-link[role="button"].is-link:focus {
  color: rgba(var(--color-grey-700), 1);
}

/* FORMS */
form {
  overflow: visible;
}

form > * + * {
  margin-top: var(--space-3x, 1em);
}

form *[hidden] {
  margin: 0;
}

label {
  display: block;
  line-height: var(--space-3x);
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  font-size: var(--font-size-30);
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: rgba(var(--color-grey-500), 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input {
  display: block;
  width: 100%;
  background-color: rgba(var(--color-grey-00), 1);
  min-height: var(--space-5x);
  padding: calc(var(--space) - 1px) calc(var(--space-2x) - 1px);
  margin: 0;
  border: 1px solid rgba(var(--color-grey-50), 1);
  border-radius: var(--border-radius-s, 0);
  outline: 0 none;
  box-shadow: var(--box-inset-shadow-s);
  color: rgba(var(--color-grey-600), 1);
  font-family: inherit;
  font-size: var(--base-font-size);
  line-height: var(--space-3x);
}

input:focus{
  outline: 0 none;
  border-color: rgba(var(--color-blue-400), 1);
  box-shadow: 
    0 0 0 2px rgba(var(--color-blue-200), 1),
    var(--box-shadow-s);
}

label + input {
  margin-top: 0;
}

::placeholder {
  color: rgba(var(--color-grey-300), 1);
}

a:any-link {
  color: rgba(var(--color-blue-500, inherit), 1);
  text-decoration: underline;
}

a:any-link:hover {
  color: rgba(var(--color-blue-600), 1);
}

a:any-link > * + * {
  margin-left: var(--space);
  text-decoration: none;
}

a:any-link[target="_blank"] { 
  padding-right: 16px;
  position: relative;
  display: inline-block;
}

/* Arrow to signify external links */
a:any-link[target="_blank"]::after,
a:any-link[target="_blank"]::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
}

a:any-link[target="_blank"]::before {
  background: currentColor;
  transform: rotate(-45deg);
  top: 50%;
  height: 2px;
  width: 12px;
}

a:any-link[target="_blank"]::after {
  width: 8px;
  height: 8px;
  border-right: 2px solid;
  border-top: 2px solid;
  top: calc(50% - 5px);
}

table {
  width: 100%;
  padding: 0;
  border-spacing: 0;
}

th {
  text-transform: uppercase;
  font-weight: var(--font-weight-700);
  font-size: calc(var(--base-font-size) / var(--ratio) / var(--ratio));
  letter-spacing: 0.03em;
  transform: translateY(2px);
  padding: 12px 24px;
  text-align: left;
  color: rgba(var(--color-grey-500), 1);
}

tbody tr {
  box-shadow: 0 -1px 0 0 rgba(var(--color-grey-50), 1) inset;
}

tbody tr:hover {
  background: rgba(var(--color-grey-50), 1);
}

td {
  color: rgba(var(--color-grey-500), 1);
  padding: 12px 24px;
}

/* components/breadcrumb.css */

.breadcrumb ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li + li::before {
  content: '';
  display: inline-block;
  margin: 0 var(--space);
  transform: rotate(20deg);
  border-right: 1px solid rgba(var(--color-grey-400), 1);
  height: 0.75em;
}

.breadcrumb li:last-child {
  color: rgba(var(--color-grey-700), 1);
  font-weight: var(--font-weight-700);
}

/* components/dialog.css */

.dialog-backdrop {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(var(--color-grey-300), .7);
  z-index: var(--z-40, 90);
  animation: backdrop 0.1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
  display: flex;
  align-items: center;
  justify-content: center;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .dialog-backdrop {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background: rgba(var(--color-grey-300), .7);
  }
}

/* Modale */

[role="dialog"] {
  position: relative;
  padding: var(--space-3x);
  background-color: rgba(var(--color-bg), 1);
  border: 1px solid rgba(var(--color-grey-35), 1);
  border-radius: var(--border-radius-m, 0);
  min-width: 480px;
  max-width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  animation: modale 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
  
[role="dialog"] > header {
  width: calc(100% + var(--space-6x));
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-m, 0) var(--border-radius-m, 0) 0 0;
  margin: calc(var(--space-3x) * -1) calc(var(--space-3x) * -1) calc(var(--space-3x) * 1);
  padding: calc(var(--space) * 1.5 - 1px) calc(var(--space-3x)  - 1px) calc(var(--space) * 1.5 - 1px);
  border-bottom: 1px solid rgba(var(--color-grey-50), 1);
  color: rgba(var(--color-grey-500), 1);
}

[role="dialog"] > header button {
  margin-left: auto;
}

[role="dialog"] > footer {
  background: rgba(var(--color-grey-50), 1);
  width: calc(100% + var(--space-6x));
  border-radius: 0 0 var(--border-radius-m, 0) var(--border-radius-m, 0);
  margin: var(--space-3x) calc(var(--space-3x) * -1) calc(var(--space-3x) * -1);
  padding: calc(var(--space) * 1.5 - 1px) calc(var(--space-3x)  - 1px) calc(var(--space) * 1.5 - 1px);
  border-top: 1px solid rgba(var(--color-grey-50), 1);
}

@media screen and (min-width: 640px) {
  [role="dialog"] {
    min-width: 640px;
    min-height: auto;
    box-shadow: var(--box-shadow-l);
    background-color: rgba(var(--color-bg), 1);
  }
}

@keyframes modale {
  0% {
    top: -48px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes backdrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* components/grid_auto.css */

.grid-auto {
  --gap: var(--space-3x);
  --col-min-width: calc(var(--space) * 38);
  display: grid;
  grid-gap: var(--gap, 0);
  grid-template-columns: repeat(auto-fit, minmax(var(--col-min-width), 1fr));
  width: 100%;
  padding: 0;
}

.grid-auto > * {
  list-style-type: none;
  margin: 0;
}

.grid-auto * + *,
.grid-auto * + .card {
  margin-top: 0;
}

.grid-auto + * {
  margin-top: var(--space-3x);
}

/* components/group.css */

[role="group"] {
  display: flex;
  align-items: flex-end;
  border-radius: var(--border-radius-s, 0);
  border-radius: 4px;
  max-width: 100%;
}

[role="group"] > * {
  border-radius: 0;
  margin: auto 0 0;
}

[role="group"] > *:first-child {
  border-radius: var(--border-radius-s, 0) 0 0 var(--border-radius-s, 0);
}

[role="group"] > *:last-child {
  border-radius: 0 var(--border-radius-s, 0) var(--border-radius-s, 0) 0;
}

[role="group"] > .input {
  margin: auto var(--space) 0 0;
}

[role="group"] > .input:last-child {
  margin: auto 0 0 0;
}   

[role="group"]  > label {
  margin: 0;
}

[role="group"].is-block {
  width: 100%;
}

[role="group"].is-block  > * {
  flex: 1;
}

/* components/card.css */
.card {
  background: rgba(var(--color-grey-20), 1);
  border: 0;
  border-radius: var(--border-radius-s, 0);
  box-shadow: 0 0 0 1px inset rgba(var(--color-grey-50), 1), var(--box-shadow-s);
  padding: var(--space-3x);
  list-style-type: none;
  position: relative;
  overflow: visible;
}

.card > header {
  display: flex;
  align-items: center;
  min-height: var(--space-6x);
  width: calc(100% + var(--space-6x));
  border-radius: var(--border-radius-m, 0) var(--border-radius-m, 0) 0 0; 
  padding: var(--space) var(--space-3x);
  margin: calc(var(--space-3x) * -1) calc(var(--space-3x) * -1) calc(var(--space-3x) * 1);
  box-shadow: 0 1px 0 0 rgba(var(--color-grey-50), 1);
  color: rgba(var(--color-grey-500), 1);
}

.card > header > * {
  margin: 0 var(--space-1-2);
  padding: 0;
  text-transform: none;
  letter-spacing: 0;
  font-size: var(--font-size-50);
  line-height: var(--space-3x);
}

.card > footer {
  background: rgba(var(--color-grey-50), 1);
  box-shadow: 0 -1px 0 0 rgba(var(--color-grey-100), .8);
  border-radius: 0 0 var(--border-radius-m, 0) var(--border-radius-m, 0);
  margin: var(--space-3x) calc(var(--space-3x) * -1) calc(var(--space-3x) * -1);
  padding: var(--space-2x) calc(var(--space-3x)  - 1px);
  width: calc(100% + var(--space-6x));
}

/* components/menu.css */

[role="menu"] {
  text-align: left;
  color: rgba(var(--color-grey-500), 1);
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 6px 0 18px;
  text-transform: none;
  font-size: var(--font-size-50);
  letter-spacing: 0.03em;
}

li[role="menuitem"] {
  display: flex;
  flex-direction: column;
}

a[role="menuitem"]:not(.button) {
  padding: 0 24px;
  margin: 0;
  font-size: inherit;
  text-decoration: none;
  color: rgba(var(--color-grey-700), 1);
  display: flex;
  align-items: center;
}

a[role="menuitem"]:not(.button):hover {
  color: rgba(var(--color-grey-800), 1);
}

a[role="menuitem"]:not(.button)[aria-current="true"] {
  background: rgba(var(--color-grey-100), 1);
  color: rgba(var(--color-blue-700), 1);
}

.menubutton {
  position: relative;
  display: inline-block;
}

.menubutton > button,
.menubutton > input[type="submit"],
.menubutton > input[type="button"],
.menubutton > input[type="reset"],
.menubutton > [role="button"],
.menubutton > :any-link[role="button"] {
  position: relative;
  margin: 0;
}

.menubutton > button:after,
.menubutton > input[type="submit"]:after,
.menubutton > input[type="button"]:after,
.menubutton > input[type="reset"]:after,
.menubutton > [role="button"]:after,
.menubutton > :any-link[role="button"]:after {
  content: "…";
  margin-left: var(--space);
}

.menubutton > [role="menu"] {
  display: none;
  position: absolute;
  z-index: 1000;
  top: var(--space-7x);
  left: 0;
  margin: 0;
  padding: var(--space, 0) 0;
  border-radius: var(--border-radius-m, 0);
  width: auto;
  background: rgba(var(--color-grey-00), 1);
  box-shadow: var(--box-shadow-l);
  border: 1px solid rgba(var(--color-grey-50), 1);
}

.menubutton > [role="menu"]:after,
.menubutton > [role="menu"]:before {
  bottom: 100%;
  left: var(--space-3x);
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
    
.menubutton > [role="menu"]:after {
  border-color: transparent;
  border-bottom-color: rgba(var(--color-grey-00), 1);
  border-width: 6px;
  margin-left: -6px;
}

.menubutton > [role="menu"]:before {
  border-color: transparent;
  border-bottom-color: rgba(var(--color-grey-50), 1);
  border-width: 8px;
  margin-left: -8px;
}

.menubutton > [role="menu"] [role="menuitem"] {
  display: block;
  padding: 0px 16px;
  background: rgba(var(--color-grey-00), 1);
}

.menubutton > [role="menu"] [role="menuitem"]:hover,
.menubutton > [role="menu"] [role="menuitem"]:focus {
  background: rgba(var(--color-grey-50), 1);
  color: rgba(var(--color-grey-700), 1);
}

*[hidden=true] { 
  display: none; 
}