/*******************************************/
/*  ariato css                             */
/*  https://github.com/BaseSecrete/ariato  */
/*******************************************/

.active-analytics {
  --color-blue-100: 199,231,236;
  --color-blue-200: 147,206,223;
  --color-blue-300: 51,152,207;
  --color-blue-400: 0,115,198;
  --color-blue-500: 0,67,184;
  --color-blue-600: 22,50,155;
  --color-blue-700: 23,20,98;
  --color-red-20: 253,249,248;
  --color-red-200: 233,183,173;
  --color-red-500: 164,0,27;
  --color-red-600: 123,0,15;
  --color-green-500: 119,187,118;
  --color-grey-00: 255,255,248;
  --color-grey-20: 253,253,246;
  --color-grey-35: 249,249,242;
  --color-grey-50: 244,243,236;
  --color-grey-100: 225,224,217;
  --color-grey-200: 195,194,187;
  --color-grey-300: 142,140,134;
  --color-grey-400: 112,109,103;
  --color-grey-500: 80,77,72;
  --color-grey-600: 59,57,51;
  --color-grey-700: 20,21,15;
  --color-black: 0,0.2913950572018906,0;
  --color-bg: var(--color-grey-20);
  --color-body: var(--color-grey-500);
}

@media (prefers-color-scheme: dark) {
  .active-analytics {
    --color-blue-100: 34,44,64;
    --color-blue-200: 57,73,106;
    --color-blue-300: 82,105,152;
    --color-blue-400: 108,138,200;
    --color-blue-500: 135,173,250;
    --color-blue-600: 145,191,252;
    --color-blue-700: 161,208,252;
    --color-red-20: 47,27,24;
    --color-red-200: 103,62,59;
    --color-red-500: 244,146,140;
    --color-red-600: 248,165,157;
    --color-green-500: 119,187,118;
    --color-grey-00: 14,18,26;
    --color-grey-20: 16,20,28;
    --color-grey-35: 21,25,34;
    --color-grey-50: 24,28,36;
    --color-grey-100: 40,44,54;
    --color-grey-200: 69,74,84;
    --color-grey-300: 100,106,116;
    --color-grey-400: 133,139,150;
    --color-grey-500: 168,174,186;
    --color-grey-600: 180,189,200;
    --color-grey-700: 193,204,214;
    --color-grey-800: 206,219,228;
    --color-grey-900: 219,234,241;

    --color-black: 0,0,0;
    --color-bg: var(--color-grey-20);
    --color-body: var(--color-grey-500);
  }
}

.active-analytics body {
  background: rgba(var(--color-bg), 1);
  color: rgba(var(--color-body), 1);
}

.active-analytics :focus {
  outline: 2px solid rgba(var(--color-blue-200), 1);
}

/* design_tokens/font.css */
.active-analytics {
  --font-sans:  system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; 
  --base-font-size: var(--space-2x);
  --font-weight-400: 400;
  --font-weight-700: 700;
  --ratio: 1.2;
  --font-size-30: calc(var(--base-font-size) / var(--ratio) / var(--ratio)); /* -2 */
  --font-size-40: calc(var(--base-font-size) / var(--ratio)); /* -1 */
  --font-size-50: var(--base-font-size);
  --font-size-60: calc(var(--base-font-size) * var(--ratio)); /* +1 */
  --font-size-70: calc(var(--base-font-size) * var(--ratio) * var(--ratio)); /* +2 */
  --font-size-80: calc(var(--base-font-size) * var(--ratio) * var(--ratio) * var(--ratio)); /* +4 */
  --font-size-90: calc(var(--base-font-size) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)); /* +5 */
  --font-size-100: calc(var(--base-font-size) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)); /* +6 */
  --font-size-110: calc(var(--base-font-size) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)); /* +7 */
}

.active-analytics,
.active-analytics body {
  font-size: var(--base-font-size);
}

.active-analytics body {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-400);
  line-height: var(--space-3x);
}

/* design_tokens/shadow.css */
.active-analytics {
  --box-shadow-s: 
    0 1px 1px 0 rgba(var(--color-black), 0.05),
    0 1px 2px 0 rgba(var(--color-black), 0.05);
  --box-shadow-l: 
    0 0px 2px 0 rgba(var(--color-black), 0.05),
    0 1px 2px 0 rgba(var(--color-black), 0.05),
    0 2px 4px -1px rgba(var(--color-black), 0.05),
    0 4px 8px -2px rgba(var(--color-black), 0.05),
    0 8px 16px -4px rgba(var(--color-black), 0.05),
    0 16px 32px -8px rgba(var(--color-black), 0.05);
  --box-inset-shadow-s: 0 1px 1px 0 rgba(var(--color-black), 0.05) inset;  
  --box-inset-shadow-m: 0 1px 1px 0px rgba(var(--color-black), 0.05) inset,
      0 2px 2px 1px rgba(var(--color-black), 0.05) inset;
  --text-shadow-s: 0 1px 1px rgba(var(--color-black), 0.05);
}

/* design_tokens/shape.css */
.active-analytics {
  --border-radius-s: calc(var(--space) * 0.25);
  --border-radius-m: var(--space-1-2);
}

/* design_tokens/space.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.active-analytics {
  --space: 0.5rem;
  --space-1-4: calc(var(--space) / 4);
  --space-1-2: calc(var(--space) / 2);
  --space-2x: calc(var(--space) * 2);
  --space-3x: calc(var(--space) * 3);
  --space-4x: calc(var(--space) * 4);
  --space-5x: calc(var(--space) * 5);
  --space-6x: calc(var(--space) * 6);
  --space-7x: calc(var(--space) * 7);
}

/* elements */

/* text */
.active-analytics ::-moz-selection {
  background: rgba(var(--color-blue-100), 1);
  text-shadow: none;
}

.active-analytics ::selection {
  background: rgba(var(--color-blue-100), 1);
  text-shadow: none;
}

.active-analytics p {
  margin: 0;
  padding: calc(var(--space) - 2px) 0 calc(var(--space-2x) + 2px);
}

.active-analytics p.is-large {
  font-size: var(--font-size-70);
  line-height: var(--space-4x);
  padding: var(--space) 0 var(--space-2x);
}

.active-analytics p + :not(p) {
  margin-top: var(--space-3x);
}

.active-analytics h1,
.active-analytics .is-h1 {
  display: inline-block;
  margin: 0;
  padding: calc(var(--space-2x) + 2px) 0 calc(var(--space) - 2px);
  color: rgba(var(--color-grey-700), 1);
  font-size: var(--font-size-110);
  font-weight: 700;
  letter-spacing: -0.05rem;
  line-height: var(--space-7x);
  text-transform: none;
}

.active-analytics h2,
.active-analytics .is-h2 {
  margin: 0;
  padding: calc(var(--space) + 1px) 0 calc(var(--space-2x) - 1px);
  color: rgba(var(--color-grey-700), 1);
  font-size: var(--font-size-100);
  font-weight: 700;
  letter-spacing: -0.05rem;
  line-height: var(--space-6x);
  text-transform: none;
}

.active-analytics * + h2,
.active-analytics * + .is-h2  {
  margin-top: var(--space-3x);
}

.active-analytics h3,
.active-analytics .is-h3 {
  margin: 0;
  padding: calc(var(--space) - 3px) 0 calc(var(--space-2x) + 3px);
  color: rgba(var(--color-grey-700), 1);
  font-size: var(--font-size-60);
  font-weight: 700;
  letter-spacing: 0;
  line-height: var(--space-3x);
  text-transform: none; 
}

.active-analytics small {
  font-size: var(--font-size-30);
  font-weight: 400;
  text-transform: none;
  color: rgba(var(--color-grey-400), 1);
}

/**** BUTTONS *****/
.active-analytics button,
.active-analytics input[type="submit"],
.active-analytics input[type="button"],
.active-analytics input[type="reset"],
.active-analytics [role="button"],
.active-analytics :any-link[role="button"]  {
  /* Display */
  display: inline-flex;
  width: auto;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  align-self: start;
  transition: 0.2s all ease-in-out;
  background-color: transparent;
  min-height: var(--space-5x);
  margin: 0;
  padding: var(--space) calc(var(--space) * 2);
  border: none;
  border-radius: var(--border-radius-s, 0);
  box-shadow: 0 0 0 1px rgba(var(--color-grey-200), 1) inset,
    var(--box-shadow-s);
  outline: 0;
  color: rgba(var(--color-grey-700), 1);
  font: inherit;
  font-family: inherit;
  font-size: var(--font-size-40);
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: var(--space-3x);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: var(--text-shadow-s);
}

.active-analytics button:hover,
.active-analytics input[type="submit"]:hover,
.active-analytics input[type="button"]:hover,
.active-analytics input[type="reset"]:hover,
.active-analytics [role="button"]:hover,
.active-analytics :any-link[role="button"]:hover,
.active-analytics button:active,
.active-analytics input[type="submit"]:active,
.active-analytics input[type="button"]:active,
.active-analytics input[type="reset"]:active,
[role="button"]:active,
:any-link[role="button"]:active {
  color: rgba(var(--color-grey-800), 1);
  box-shadow: 0 0 0 1px rgba(var(--color-grey-300), 1) inset, 
    var(--box-shadow-s);
}

.active-analytics button:focus,
.active-analytics input[type="submit"]:focus,
.active-analytics input[type="button"]:focus,
.active-analytics input[type="reset"]:focus,
.active-analytics [role="button"]:focus,
.active-analytics :any-link[role="button"]:focus {
  outline: 2px solid rgba(var(--color-blue-200), 1);
  border: 0;
  color: rgba(var(--color-grey-900), 1);
  z-index: 1;
}

.active-analytics button[aria-expanded="true"],
.active-analytics button[type="reset"][aria-expanded="true"],
.active-analytics input[type="submit"][aria-expanded="true"],
.active-analytics input[type="button"][aria-expanded="true"],
.active-analytics input[type="reset"][aria-expanded="true"],
.active-analytics [role="button"][aria-expanded="true"],
.active-analytics :any-link[role="button"][aria-expanded="true"] {
  background: rgba(var(--color-grey-100), 1);
  color: rgba(var(--color-grey-600), 1);
  box-shadow: 0 0 0 1px rgba(var(--color-grey-200), 1) inset,
    var(--box-inset-shadow-m);
}

.active-analytics button[type="reset"],
.active-analytics input[type="reset"],
.active-analytics button.is-reset,
.active-analytics input[type="submit"].is-reset,
.active-analytics input[type="button"].is-reset,
.active-analytics [role="button"].is-reset,
.active-analytics :any-link[role="button"].is-reset {
  color: rgba(var(--color-red-500), 1);
}

.active-analytics button[type="reset"]:hover,
.active-analytics input[type="reset"]:hover,  
.active-analytics button[type="reset"]:hover,
.active-analytics input[type="reset"]:hover,
.active-analytics button.is-reset:hover,
.active-analytics input[type="submit"].is-reset:hover,
.active-analytics input[type="button"].is-reset:hover,
.active-analytics [role="button"].is-reset:hover,
.active-analytics :any-link[role="button"].is-reset:hover,
.active-analytics button[type="reset"]:active,
.active-analytics input[type="reset"]:active,
.active-analytics button.is-reset:active,
.active-analytics input[type="submit"].is-reset:active,
.active-analytics input[type="button"].is-reset:active,
.active-analytics [role="button"].is-reset:active,
.active-analytics :any-link[role="button"].is-reset:active {
  background: rgba(var(--color-red-500), 1);
  color: rgba(var(--color-red-20), 1);
  box-shadow: 0 0 0 1px rgba(var(--color-red-600), 1) inset, 
    var(--box-shadow-s);
}

.active-analytics button[type="reset"]:focus,
.active-analytics input[type="reset"]:focus,
.active-analytics button.is-reset:focus,
.active-analytics input[type="submit"].is-reset:focus,
.active-analytics input[type="button"].is-reset:focus,
.active-analytics [role="button"].is-reset:focus,
.active-analytics :any-link[role="button"].is-reset:focus {
  background: rgba(var(--color-red-500), 1);
  color: rgba(var(--color-red-20), 1);
  outline: 2px solid rgba(var(--color-red-200), 1);
}

.active-analytics button.is-link,
.active-analytics button[type="reset"].is-link,
.active-analytics input[type="submit"].is-link,
.active-analytics input[type="button"].is-link,
.active-analytics input[type="reset"].is-link,
.active-analytics [role="button"].is-link,
.active-analytics :any-link[role="button"].is-link {
  background: transparent;
  color: rgba(var(--color-grey-500), 1);
  text-decoration: underline;
  border-color: transparent;
  box-shadow: none !important;
}

.active-analytics button.is-link:hover,
.active-analytics button[type="reset"].is-link:hover,
.active-analytics input[type="submit"].is-link:hover,
.active-analytics input[type="button"].is-link:hover,
.active-analytics input[type="reset"].is-link:hover,
.active-analytics [role="button"].is-link:hover,
.active-analytics :any-link[role="button"].is-link:hover,
.active-analytics button.is-link:active,
.active-analytics button[type="reset"].is-link:active,
.active-analytics input[type="submit"].is-link:active,
.active-analytics input[type="button"].is-link:active,
.active-analytics input[type="reset"].is-link:active,
.active-analytics [role="button"].is-link:active,
.active-analytics :any-link[role="button"].is-link:active {
  background: transparent;
  color: rgba(var(--color-grey-700), 1);
  box-shadow: none;
}
  
.active-analytics button.is-link:focus,
.active-analytics button[type="reset"].is-link:focus,
.active-analytics input[type="submit"].is-link:focus,
.active-analytics input[type="button"].is-link:focus,
.active-analytics input[type="reset"].is-link:focus,
.active-analytics [role="button"].is-link:focus,
.active-analytics :any-link[role="button"].is-link:focus {
  color: rgba(var(--color-grey-700), 1);
}

/* FORMS */
.active-analytics form {
  overflow: visible;
}

.active-analytics form > * + * {
  margin-top: var(--space-3x, 1em);
}

.active-analytics form *[hidden] {
  margin: 0;
}

.active-analytics label {
  display: block;
  line-height: var(--space-3x);
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  font-size: var(--font-size-30);
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: rgba(var(--color-grey-500), 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.active-analytics input {
  display: block;
  width: 100%;
  background-color: rgba(var(--color-grey-00), 1);
  min-height: var(--space-5x);
  padding: calc(var(--space) - 1px) calc(var(--space-2x) - 1px);
  margin: 0;
  border: 1px solid rgba(var(--color-grey-50), 1);
  border-radius: var(--border-radius-s, 0);
  outline: 0 none;
  box-shadow: var(--box-inset-shadow-s);
  color: rgba(var(--color-grey-600), 1);
  font-family: inherit;
  font-size: var(--base-font-size);
  line-height: var(--space-3x);
}

.active-analytics input:focus{
  outline: 0 none;
  border-color: rgba(var(--color-blue-400), 1);
  box-shadow: 
    0 0 0 2px rgba(var(--color-blue-200), 1),
    var(--box-shadow-s);
}

.active-analytics label + input {
  margin-top: 0;
}

.active-analytics ::placeholder {
  color: rgba(var(--color-grey-300), 1);
}

.active-analytics a:any-link {
  color: rgba(var(--color-blue-500, inherit), 1);
  text-decoration: underline;
}

.active-analytics a:any-link:hover {
  color: rgba(var(--color-blue-600), 1);
}

.active-analytics a:any-link > * + * {
  margin-left: var(--space);
  text-decoration: none;
}

.active-analytics a:any-link[target="_blank"] { 
  padding-right: 16px;
  position: relative;
  display: inline-block;
}

/* Arrow to signify external links */
.active-analytics a:any-link[target="_blank"]::after,
.active-analytics a:any-link[target="_blank"]::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
}

.active-analytics a:any-link[target="_blank"]::before {
  background: currentColor;
  transform: rotate(-45deg);
  top: 50%;
  height: 2px;
  width: 12px;
}

.active-analytics a:any-link[target="_blank"]::after {
  width: 8px;
  height: 8px;
  border-right: 2px solid;
  border-top: 2px solid;
  top: calc(50% - 5px);
}

.active-analytics table {
  width: 100%;
  padding: 0;
  border-spacing: 0;
}

.active-analytics th {
  text-transform: uppercase;
  font-weight: var(--font-weight-700);
  font-size: calc(var(--base-font-size) / var(--ratio) / var(--ratio));
  letter-spacing: 0.03em;
  transform: translateY(2px);
  padding: 12px 24px;
  text-align: left;
  color: rgba(var(--color-grey-500), 1);
}

.active-analytics tbody tr {
  box-shadow: 0 -1px 0 0 rgba(var(--color-grey-50), 1) inset;
}

.active-analytics tbody tr:hover {
  background: rgba(var(--color-grey-50), 1);
}

.active-analytics td {
  color: rgba(var(--color-grey-500), 1);
  padding: 12px 24px;
}

/* components/breadcrumb.css */

.active-analytics .breadcrumb ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.active-analytics .breadcrumb li {
  display: inline;
}

.active-analytics .breadcrumb li + li::before {
  content: '';
  display: inline-block;
  margin: 0 var(--space);
  transform: rotate(20deg);
  border-right: 1px solid rgba(var(--color-grey-400), 1);
  height: 0.75em;
}

.active-analytics .breadcrumb li:last-child {
  color: rgba(var(--color-grey-700), 1);
  font-weight: var(--font-weight-700);
}

/* components/dialog.css */

.active-analytics .dialog-backdrop {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(var(--color-grey-300), .7);
  z-index: var(--z-40, 90);
  animation: backdrop 0.1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
  display: flex;
  align-items: center;
  justify-content: center;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .active-analytics .dialog-backdrop {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background: rgba(var(--color-grey-300), .7);
  }
}

/* Modale */

.active-analytics [role="dialog"] {
  position: relative;
  padding: var(--space-3x);
  background-color: rgba(var(--color-bg), 1);
  border: 1px solid rgba(var(--color-grey-35), 1);
  border-radius: var(--border-radius-m, 0);
  min-width: 480px;
  max-width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  animation: modale 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
  
.active-analytics [role="dialog"] > header {
  width: calc(100% + var(--space-6x));
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-m, 0) var(--border-radius-m, 0) 0 0;
  margin: calc(var(--space-3x) * -1) calc(var(--space-3x) * -1) calc(var(--space-3x) * 1);
  padding: calc(var(--space) * 1.5 - 1px) calc(var(--space-3x)  - 1px) calc(var(--space) * 1.5 - 1px);
  border-bottom: 1px solid rgba(var(--color-grey-50), 1);
  color: rgba(var(--color-grey-500), 1);
}

.active-analytics [role="dialog"] > header button {
  margin-left: auto;
}

.active-analytics [role="dialog"] > footer {
  background: rgba(var(--color-grey-50), 1);
  width: calc(100% + var(--space-6x));
  border-radius: 0 0 var(--border-radius-m, 0) var(--border-radius-m, 0);
  margin: var(--space-3x) calc(var(--space-3x) * -1) calc(var(--space-3x) * -1);
  padding: calc(var(--space) * 1.5 - 1px) calc(var(--space-3x)  - 1px) calc(var(--space) * 1.5 - 1px);
  border-top: 1px solid rgba(var(--color-grey-50), 1);
}

@media screen and (min-width: 640px) {
  .active-analytics [role="dialog"] {
    min-width: 640px;
    min-height: auto;
    box-shadow: var(--box-shadow-l);
    background-color: rgba(var(--color-bg), 1);
  }
}

@keyframes modale {
  0% {
    top: -48px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes backdrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* components/grid_auto.css */

.active-analytics .grid-auto {
  --gap: var(--space-3x);
  --col-min-width: calc(var(--space) * 38);
  display: grid;
  grid-gap: var(--gap, 0);
  grid-template-columns: repeat(auto-fit, minmax(var(--col-min-width), 1fr));
  width: 100%;
  padding: 0;
}

.active-analytics .grid-auto > * {
  list-style-type: none;
  margin: 0;
}

.active-analytics .grid-auto * + *,
.active-analytics .grid-auto * + .card {
  margin-top: 0;
}

.active-analytics .grid-auto + * {
  margin-top: var(--space-3x);
}

/* components/group.css */

.active-analytics [role="group"] {
  display: flex;
  align-items: flex-end;
  border-radius: var(--border-radius-s, 0);
  border-radius: 4px;
  max-width: 100%;
}

.active-analytics [role="group"] > * {
  border-radius: 0;
  margin: auto 0 0;
}

.active-analytics [role="group"] > *:first-child {
  border-radius: var(--border-radius-s, 0) 0 0 var(--border-radius-s, 0);
}

.active-analytics [role="group"] > *:last-child {
  border-radius: 0 var(--border-radius-s, 0) var(--border-radius-s, 0) 0;
}

.active-analytics [role="group"] > .input {
  margin: auto var(--space) 0 0;
}

.active-analytics [role="group"] > .input:last-child {
  margin: auto 0 0 0;
}   

.active-analytics [role="group"]  > label {
  margin: 0;
}

.active-analytics [role="group"].is-block {
  width: 100%;
}

.active-analytics [role="group"].is-block  > * {
  flex: 1;
}

/* components/card.css */
.active-analytics .card {
  background: rgba(var(--color-grey-20), 1);
  border: 0;
  border-radius: var(--border-radius-s, 0);
  box-shadow: 0 0 0 1px inset rgba(var(--color-grey-50), 1), var(--box-shadow-s);
  padding: var(--space-3x);
  list-style-type: none;
  position: relative;
  overflow: visible;
}

.active-analytics .card > header {
  display: flex;
  align-items: center;
  min-height: var(--space-6x);
  width: calc(100% + var(--space-6x));
  border-radius: var(--border-radius-m, 0) var(--border-radius-m, 0) 0 0; 
  padding: var(--space) var(--space-3x);
  margin: calc(var(--space-3x) * -1) calc(var(--space-3x) * -1) calc(var(--space-3x) * 1);
  box-shadow: 0 1px 0 0 rgba(var(--color-grey-50), 1);
  color: rgba(var(--color-grey-500), 1);
}

.active-analytics .card > header > * {
  margin: 0 var(--space-1-2);
  padding: 0;
  text-transform: none;
  letter-spacing: 0;
  font-size: var(--font-size-50);
  line-height: var(--space-3x);
}

.active-analytics .card > footer {
  background: rgba(var(--color-grey-50), 1);
  box-shadow: 0 -1px 0 0 rgba(var(--color-grey-100), .8);
  border-radius: 0 0 var(--border-radius-m, 0) var(--border-radius-m, 0);
  margin: var(--space-3x) calc(var(--space-3x) * -1) calc(var(--space-3x) * -1);
  padding: var(--space-2x) calc(var(--space-3x)  - 1px);
  width: calc(100% + var(--space-6x));
}

/* components/menu.css */

.active-analytics [role="menu"] {
  text-align: left;
  color: rgba(var(--color-grey-500), 1);
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 6px 0 18px;
  text-transform: none;
  font-size: var(--font-size-50);
  letter-spacing: 0.03em;
}

.active-analytics li[role="menuitem"] {
  display: flex;
  flex-direction: column;
}

.active-analytics a[role="menuitem"]:not(.button) {
  padding: 0 24px;
  margin: 0;
  font-size: inherit;
  text-decoration: none;
  color: rgba(var(--color-grey-700), 1);
  display: flex;
  align-items: center;
}

.active-analytics a[role="menuitem"]:not(.button):hover {
  color: rgba(var(--color-grey-800), 1);
}

.active-analytics a[role="menuitem"]:not(.button)[aria-current="true"] {
  background: rgba(var(--color-grey-100), 1);
  color: rgba(var(--color-blue-700), 1);
}

.active-analytics .menubutton {
  position: relative;
  display: inline-block;
}

.active-analytics .menubutton > button,
.active-analytics .menubutton > input[type="submit"],
.active-analytics .menubutton > input[type="button"],
.active-analytics .menubutton > input[type="reset"],
.active-analytics .menubutton > [role="button"],
.active-analytics .menubutton > :any-link[role="button"] {
  position: relative;
  margin: 0;
}

.active-analytics .menubutton > button:after,
.active-analytics .menubutton > input[type="submit"]:after,
.active-analytics .menubutton > input[type="button"]:after,
.active-analytics .menubutton > input[type="reset"]:after,
.active-analytics .menubutton > [role="button"]:after,
.active-analytics .menubutton > :any-link[role="button"]:after {
  content: "…";
  margin-left: var(--space);
}

.active-analytics .menubutton > [role="menu"] {
  display: none;
  position: absolute;
  z-index: 1000;
  top: var(--space-7x);
  left: 0;
  margin: 0;
  padding: var(--space, 0) 0;
  border-radius: var(--border-radius-m, 0);
  width: auto;
  background: rgba(var(--color-grey-00), 1);
  box-shadow: var(--box-shadow-l);
  border: 1px solid rgba(var(--color-grey-50), 1);
}

.active-analytics .menubutton > [role="menu"]:after,
.active-analytics .menubutton > [role="menu"]:before {
  bottom: 100%;
  left: var(--space-3x);
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
    
.active-analytics .menubutton > [role="menu"]:after {
  border-color: transparent;
  border-bottom-color: rgba(var(--color-grey-00), 1);
  border-width: 6px;
  margin-left: -6px;
}

.active-analytics .menubutton > [role="menu"]:before {
  border-color: transparent;
  border-bottom-color: rgba(var(--color-grey-50), 1);
  border-width: 8px;
  margin-left: -8px;
}

.active-analytics .menubutton > [role="menu"] [role="menuitem"] {
  display: block;
  padding: 0px 16px;
  background: rgba(var(--color-grey-00), 1);
}

.active-analytics .menubutton > [role="menu"] [role="menuitem"]:hover,
.active-analytics .menubutton > [role="menu"] [role="menuitem"]:focus {
  background: rgba(var(--color-grey-50), 1);
  color: rgba(var(--color-grey-700), 1);
}

.active-analytics *[hidden=true] { 
  display: none; 
}