<section>
  <h2>Pages</h2>
</section>

<section>
  <h3>Views per day</h3>
  <table>
    <% for views in @views_per_day %>
      <tr>
        <td><%= l views.day %></td>
        <td><%= views.total %></td>
      </tr>
    <% end %>
  </table>
</section>

<section>
  <h3>Pages</h3>
  <%= render "/active_analytics/pages/table", pages: @pages %>
</section>
