body {
  padding: 0;
  margin: 0;
  width: 100%;
}


body > header nav {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header nav .menubutton {
  margin-left: auto;
}

@media (max-width: 480px) {
  header nav .menubutton {
    margin-top: 24px;
  }

  [role="dialog"] {
    min-width: 280px;
  }
}

header .logo {
  margin-right: 8px;
}

header .logo svg {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: rgba(var(--color-blue-500), 1);
  stroke-width: 1;
}

header .is-link {
  text-transform: none;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: 400;
  padding: 0 16px;
  margin: 0;
  min-height: 24px;
}

header .is-link:hover {
  background: rgba(var(--color-grey-50), 1);
}

main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}

main h2 {
  word-break: break-word;
}

section {
  margin-bottom: var(--space-4x);
}

.grid-auto {
  --col-min-width: calc(var(--space) * 38);
}

.tooltip-date {
  color: rgba(var(--color-grey-100), 1);
}

.card {
  position: relative;
  overflow: visible;
}

.card h3 {
  display: flex;
}

.card h3 a {
  margin-left: auto;
  font-weight: 400;
  font-size: 1rem;
}

.card table {
  margin: 0 -24px;
  width: calc(100% + 48px);
}

.card table.charts-css {
  margin-bottom: -24px;
}

tr td:first-of-type {
  padding: 12px 0px 12px 24px;
}

tr td:last-of-type {
  padding: 12px 24px 12px 0;
}

td a {
  word-break: break-word;
}

td.number { 
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.referer-favicon {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 3px;
}

div.is-empty {
  display: flex;
	align-items: center;
  justify-content: center;
  height: calc(100% - 72px);
  width: 100%;
  color: rgba(var(--color-grey-300), 1);
}

body > footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px;
}