<table>
  <% for referrer in referrers %>
    <tr>
      <td>
        <% if referrer.host %>
          <%= link_to referrer.host, referrer_path(site: params[:site], referrer: referrer.host, from: params[:from], to: params[:to]) %>
        <% else %>
          <%= referrer.host %>
        <% end %>
        </td>
      <td><%= format_view_count referrer.total %></td>
    </tr>
  <% end %>
</table>
