<section>
  <h3>Views per day</h3>
  <%= render "/active_analytics/sites/histogram", histogram: @histogram %>
</section>

<section>
  <h3>Top referrers</h3>
  <%= render "table", referrers: @referrers %>
</section>