<section>
  <h2>Referrer <%= params[:referrer] %></h2>
  <%= render "/active_analytics/sites/histogram", histogram: @histogram %>
</section>

<section>
  <h3>Sources</h3>
  <%= render "/active_analytics/pages/table", pages: @previous_pages %>
</section>

<section>
  <h3>Destinations</h3>
  <%= render "/active_analytics/pages/table", pages: @next_pages %>
</section>
