<aside aria-label="sidebar">
  <nav aria-label="sidebar">
    <% if params[:site].present? %>
      <ul role="menu" aria-label="Menu">
        <li role="menuitem" aria-haspopup="true" aria-expanded="true" tabindex="0">
          <span class="menu__title"><%= link_to params[:site], site_path(site: params[:site]) %></span>
          <ul role="menu" aria-label="<%= params[:site] %> menu">
            <li role="none"><%= link_to "Pages", site_path(params[:site]), tabindex: -1, role: "menuitem" %></li>
            <li role="none"><%= link_to "Referrers", referrers_path(site: params[:site]), tabindex: -1, role: "menuitem" %></li>
          </ul>
        </li>
      </ul>
    <% end %>
  </nav>  
</aside>