<aside aria-label="sidebar">
  <nav aria-label="sidebar">
    <ul role="menu" aria-label="Menu">
      <li role="menuitem" aria-haspopup="true" aria-expanded="true" tabindex="0">
        <span class="menu__title">Menu</span>
        <ul role="menu" aria-label="Design tokens">
          <li role="none"><%= link_to "Top pages", page_view_path, tabindex: -1, role: "menuitem" %></li>
          <li role="none"><%= link_to "Top referers", "#TODO", tabindex: -1, role: "menuitem" %></li>
        </ul>
      </li>
    </ul>
  </nav>  
</aside>