<header>
  <nav aria-label="site"> <!-- implicit role="navigation", aria label "site" is announced = "site navigation" -->
    <div role="toolbar" data-ariato="Application.Toolbar">
      <div role="group">
        <%= link_to "Active Analytics", active_analytics_path, role: "button" %>
        <%= link_to "Source code", "https://github.com/BaseSecrete/active_analytics", role: "button" %>
      </div>
    </div>
  </nav>
</header>