<section>
  <h2>Views per day</h2>
  <table>
    <% for views in @views_per_day %>
      <tr>
        <td><%= l views.day %></td>
        <td><%= views.total %></td>
      </tr>
    <% end %>
  </table>
</section>

<section>
  <h2>Top Pages</h2>
  <%= render "/active_analytics/pages/table", pages: @pages %>
</section>

<section>
  <h2>Top referrers</h2>
  <%= render "/active_analytics/referrers/table", referrers: @referrers %>
</section>